@font-face {
    font-family: 'Uni Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Uni Sans Thin'), url('../fonts/Uni Sans Thin.otf') format('otf');
}
body {
    font-family: "Uni Sans Thin";
}

div.googlebutton {
    zoom: 1;
    -moz-transform: scale(0.5);
}

div#wrapper {
    width: 95vw;
    margin: auto;
}
div#overflow {
    overflow-x:auto;
}

/*img.logo {
    width:60vmin;
    height: 60vmin;
    display: block;
    margin: 0 auto;
    align-content: center;
    vertical-align: middle;
    margin-bottom: 5vmin;
}*/

div#logo {

}

img.logo {
    max-width: 29vmax;
    height: auto;
}

.ui.visible.right.overlay.sidebar {
  z-index: 999 !important;
}

div#jumbotron {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


div#googlebutton {
    max-width: 100%;
    height: auto;

}

#footer {
    margin: 0 ;
    padding-left: 1rem;
    padding-right: 1rem;
}

#create_helpdiv {
    margin: auto;
}

#create_helplabel {
    float: left;
}

#create_helpicon {
    float:left;
}

div.ui.raised.very.padded.segment {
    flex: 1 1 auto;
}

a.google.a {
    color: #E7BE49;
}

i.google.plus.icon {
    color: white;
}
.ui.menu:not(.vertical) .left.item, .ui.menu:not(.vertical) .left.menu {
    margin-right: 0!important;
}