{% extends "publiclayout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <div class="ui raised very padded text container segment">
      <h2 class="ui header">Contact Us</h2>
      <div class="ui list">
         <div class="item">
            <p>For general questions and comments:</p>
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:richard@mymovieleague.com">richard@mymovieleague.com</a>
            </div>
         </div>
         <br/>
         <div class="item">
            <p>For technical help:</p>
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:richard@mymovieleague.com">richard@mymovieleague.com</a>
            </div>
         </div>
         <br/>
         <div class="item">
            <p>For all other inquiries:</p>
            <i class="mail icon"></i>
            <div class="content">
              <a href="mailto:richard@mymovieleague.com">richard@mymovieleague.com</a>
            </div>
         </div>


      </div>
    </div>

    </div>
  </main>
{% endblock %}