{% extends "UserLayout.html" %}
{% block content %}

<script>
$(function() {
    $('.popup-button1').popup({
        inline: true,
        on: 'click',
    });})
</script>
<form class='ui form' method="POST" action="/create_league">
    {{ form.hidden_tag() }}
    <div class="form-group">
                <h4>{{ form.league_name.label}}</h4>
                {{ form.league_name }}
                {% if form.league_name.errors %}
                    {% for error in form.league_name.errors %}
                         <h5 class="ui bottom attached red header">{{ error }}</h5>
                    {% endfor %}
                {% endif %}
        <!-- TODO update help icons -->

        <div class="equal width fields">


            <div class="field">
                <div id="create_helpdiv">
                    <div id="create_helplabel">
                        <h4>{{ form.start_date.label}}</h4>
                    </div>
                    <div class='ui popup-button1' data-html="The start of your league. Movies released after this date will be available for your to compete with." >
                        <i class='small circular question icon'> </i>
                    </div>
                </div>
                {{ form.start_date(class='datepicker') }}
                {% if form.start_date.errors %}
                    {% for error in form.start_date.errors %}
                        <h5 class="ui bottom attached red header">{{ error }}</h5>
                    {% endfor %}
                {% endif %}
            </div>



            <div class="field">
                <div id="create_helpdiv">
                    <div id="create_helplabel">
                        <h4>{{ form.end_date.label}}</h4>
                    </div>
                    <div class='ui popup-button1' data-html="Movies released after this date will not be included in your league." >
                        <i class='small circular question icon'> </i>
                    </div>
                </div>
                {{ form.end_date(class='datepicker') }}
                {% if form.end_date.errors %}
                    {% for error in form.end_date.errors %}
                         <h5 class="ui bottom attached red header">{{ error }}</h5>
                    {% endfor %}
                {% endif %}
            </div>


            <div class="field">
                <div id="create_helpdiv">
                    <div id="create_helplabel">
                        <h4>{{ form.end_record.label}}</h4>
                    </div>
                    <div class='ui popup-button1' data-html="The official end of your league. Your movies will continue to earn box office income until this date." >
                        <i class='small circular question icon'> </i>
                    </div>
                </div>
                {{ form.end_record(class='datepicker') }}
                {% if form.end_record.errors %}
                    {% for error in form.end_record.errors %}
                       <h5 class="ui bottom attached red header">{{ error }}</h5>
                    {% endfor %}
                {% endif %}

            </div>
        </div>

    </div>
    {{ form.submit(class="ui button") }}
</form>
<script>
$(function() {
    $('.popup-button1').popup({
        hoverable : true,
        inline: true,
    });})
</script>
{% endblock %}