{% extends "UserLayout.html" %}
{% block content %}
  <main class="about-section">
        <h2 class="ui large header">Home</h2>
        <h3 class="ui medium header">Welcome {{ name }}</h3>
        <script type="text/javascript" language="javascript" src="http://www.boxofficemojo.com/data/js/wknd5.php"></script>

        {% for league in my_movies %}
            <h3>{{ league|title }}</h3>
            <table class="ui celled fixed striped table">

            <thead>
                    <th class="one wide"></th>
                    <th>Raking</th>
                    <th>Total</th>
            </thead>
            {% if my_movies[league]|length == 1 %}
            <tbody>
                <tr>
                    <td>Leader</td>
                    <td>
                        {{ my_movies[league][0][0]|title }}
                    </td>
                    <td>
                        {{ my_movies[league][0][1]|title }}
                    </td>
                </tr>
            </tbody>

            {% elif my_movies[league]|length == 2 %}
            <tbody>
                <tr>
                    <td>Leader</td>
                    <td>
                        {{ my_movies[league][0][0]|title }}
                    </td>
                    <td>
                        {{ my_movies[league][0][1]|title }}
                    </td>
                </tr>
                <tr>
                    <td>You</td>
                    <td>
                        {{ my_movies[league][1][0]|title }}
                    </td>
                    <td>
                        {{ my_movies[league][1][1]|title }}
                    </td>
                </tr>
            </tbody>
            {% endif %}
            </table>
        {% endfor %}
    </div>
  </main>
{% endblock %}
</html>