{% extends "UserLayout.html" %}
{% block content %}

    {% if not league_info %}
        <div class="ui raised very padded text container segment">
          <h2 class="ui header">Uh, oh!</h2>
          <p>{{ league|replace("_"," ")|title }} doesn't seem to have any movies assigned to any users. The league owner can assign
              players their movies from <a href="{{ url_for('manage', league=league) }}">here</a></p>
        </div>
    {% endif %}

    <div class="ui top attached tabular menu">
    {% for player in league_info %}
        {% if loop.index == 1 %}
        <a class="item active" data-tab="{{ player|title }}">{{ player|title }}</a>
        {% else %}
        <a class="item" data-tab="{{ player|title }}">{{ player|title }}</a>
        {% endif %}
    {% endfor %}
    </div>

    {% for player in league_info %}
            {% if loop.index == 1 %}
            <div class="ui bottom attached active tab segment" data-tab="{{ player|title }}">
            {% else %}
            <div class="ui bottom attached tab segment" data-tab="{{ player|title }}">
            {% endif %}
            <table class="ui sortable unstackable fixed celled table">
              <thead>
                <tr>
                  <th class="">Movie Title</th>
                  <th class="">Release Date</th>
                  <th class="">Foreign Gross</th>
                  <th class="">Domestic Gross</th>
                  <th class="sorted descending">Worldwide Gross</th>
                </tr>
              </thead>
              <tbody>
            {% for movie_info in league_info[player] %}
                <tr>
                    {% for data in movie_info %}
                        <td>
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
              </tbody>
            </table>
            </div>
    {% endfor %}
    <div class="ui raised very padded text container segment">
      <h2 class="ui header"><a href="{{ url_for('league_all', league=league) }}">Click Here</a> to see all the movies in your league</h2>
    </div>


    <script>
    $(function() {
        $('.menu .item')
          .tab()
        ;});
    $(function() {
        $('table').tablesort()
    });
$('table').tablesort()
    </script>
{% endblock %}