{% extends "UserLayout.html" %}
{% block content %}
<div class="ui relaxed divided list">

{% for league in my_movies %}
    <table class="ui celled unstackable striped table">
        <thead>
            <tr>
                <th colspan="3">
                    {% if league|length > 1 %}
                        <div class="ui right aligned grid">
                            <div class="left aligned thirteen wide column">
                                <h2>{{ league|replace("_"," ")|title }}</h2>
                            </div>
                            <div class="right aligned one wide column">
                                <a class="ui header" href="league/{{league}}"><u>Details</u></a>
                            </div>
                            <div class="left aligned one wide column">
                                <a class="ui header" href="manage/{{league}}"><u>Manage</u></a>
                            </div>
                        </div>
                    {% elif league|length == 1 %}
                        <div class="ui right aligned grid">
                            <div class="left aligned fourteen wide column">
                                <h2>{{ league|replace("_"," ")|title }}</h2>
                            </div>
                            <div class="right aligned one wide column">
                                <a class="ui header" href="league/{{league}}"><u>Details</u></a>
                            </div>
                        </div>
                    {% endif %}
                </th>
            </tr>
        </thead>
            <tbody>
                {% for item in my_movies[league] %}
                    <tr>
                        <td>
                            {{ item|title }}
                        </td>
                        <td>
                            {{ my_movies[league][item] }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endfor %}

</div>



<a class="ui button" href="{{ url_for('create_league') }}">Create League</a>
{% endblock %}