{% extends "UserLayout.html" %}
{% block content %}

{% for user in users %}
{{user.length}}
{% endfor %}


<form class='ui form' id='UserForm' method="POST" action="/manage/{{league}}">
    {{ form.hidden_tag() }}
    <div id="formgroup" class="form-group">
        <div id="equalqwidthfields" class="fields">
            <div class="eight wide field">
                {{ form.name.label}}
                <div class="ui search selection dropdown">
                  <input id="UsersDefaultNameInput" name="name" type="name">
                  <i class="dropdown icon"></i>
                  <div class="default text" id="UsersDefaultNameDiv">Default</div>
                  <div class="menu">
                      {% for user in users %}
                      <div class="item" data-value="{{user[0]}}">{{user[1]}}</div>
                      {% endfor %}
                  </div>
                </div>
            </div>
            <div class="seven wide field">
                {{ form.movie.label}}
                <div class="ui search selection dropdown">
                  <input id="UsersDefaultMovieInput" name="movie" type="movie">
                  <i class="dropdown icon"></i>
                  <div class="default text" id="UsersDefaultMovieDiv">Default</div>
                  <div class="menu">
                      {% for movie in movies %}
                      <div class="item" data-value="{{movie[0]}}">{{movie[1]}}</div>
                      {% endfor %}
                  </div>
                </div>
            </div>
            <div class="one wide field">
            </div>
        </div>
        {{ form.ret }}
    </div>
    <div id="container" >
        <div id="addForm" class="ui animated button" tabindex="0" onclick="passToJS()">
          <div class="visible content">Add</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
        </div>
        <input class="ui button" id="submit" name="submit" type="submit" value="Submit">

    </div>
</form>


<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="">Users</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
        <tr>
            <td>
                {{ user[1] }}
            </td>
        </tr>
    {% endfor %}
  </tbody>
</table>
<div class="ui animated button" tabindex="0">
          <a href="/invite_friend/{{league}}">
          <div class="visible content">Invite Friends</div>
          <div class="hidden content">
            <i class="plus icon"></i>
          </div>
          </a>
        </div>
<script type='text/javascript' src="/static/js/main.js"></script>
<div id="container"></div>


<script>
    var count = 0;

    function passToJS() {
        addinputFields("{{users_json}}", "{{movies_json}}")
    };
    $("#submit").on('click',function() {
        $('#ret').val($('.selection.dropdown').dropdown('get value'))
    });

    $(function() {
        $('.ui.dropdown').dropdown();
    });

</script>

{% endblock %}