{% extends "UserLayout.html" %}
{% block content %}
    {% for league in my_movies %}

            <div class="ui medium header"><a class="ui header" href="league/{{league}}">{{ league|replace("_"," ")|title }}</a></div>
            <table class="ui sortable unstackable fixed celled table">
              <thead>
                <tr>
                  <th class="">Movie Title</th>
                  <th class="">Release Date</th>
                  <th class="">Foreign Gross</th>
                  <th class="">Domestic Gross</th>
                  <th class="">Worldwide Gross</th>
                </tr>
              </thead>
              <tbody>
            {% for movie_info in my_movies[league] %}
                {% if loop.index < my_movies[league]|length %}
                <tr>
                    {% for data in movie_info %}
                        <td>{{ data }}</td>
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
              </tbody>

            <tfoot>
            {% for movie_info in my_movies[league] %}
                {% if loop.index == my_movies[league]|length %}
                <tr>
                    {% for data in movie_info %}
                        <th>{{ data }}</th>
                    {% endfor %}
                </tr>
                {% endif %}
            {% endfor %}
            </tfoot>
            </table>

    {% endfor %}
    <script>
$(function() {
        $('table').tablesort()
    });
$('table').tablesort()
</script>
{% endblock %}

