<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
    <div class="ui container">
        <!-- HEADER -->
        <h1 class="ui huge header">Heading 1</h1>
        <h2 class="ui large header">Heading 2</h2>
        <h3 class="ui medium header">Heading 3</h3>
        <h4 class="ui small header">Heading 4</h4>
        <h5 class="ui tiny header">Heading 5</h5>
        <h6 class="ui huge header">Heading 6</h6>

        <hr>

        <!-- BUTTONS -->
        <button class="ui button">Button</button>
        <button class="ui primary button">Button</button>
        <button class="ui secondary button">Button</button>
        <button class="ui positive button">Button</button>
        <button class="ui negative button">Button</button>
        <br><br>
        <button class="ui red button">Button</button>
        <button class="ui blue button">Button</button>
        <button class="ui green button">Button</button>
        <button class="ui yellow button">Button</button>
        <button class="ui brown button">Button</button>
        <button class="ui orange button">Button</button>
        <button class="ui purple button">Button</button>
        <button class="ui olive button">Button</button>
        <button class="ui teal button">Button</button>
        <button class="ui violet button">Button</button>
        <button class="ui grey button">Button</button>
        <br><br>
        <button class="ui disabled button">Button</button>
        <button class="ui loading button">Button</button>
        <br><br>
        <button class="ui mini button">Button</button>
        <button class="ui tiny button">Button</button>
        <button class="ui small button">Button</button>
        <button class="ui medium button">Button</button>
        <button class="ui large button">Button</button>
        <button class="ui big button">Button</button>
        <button class="ui huge button">Button</button>
        <button class="ui massive button">Button</button>
        <br><br>
        <button class="ui basic button">Button</button>
        <button class="ui fluid button">Button</button>





    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

</body>
</html>