{% include "layout.html" %}

  <body>

    <div class="ui grid">
      <div class="two wide column"></div>
      <div class="twelve wide column">
          <div class="ui inverted segment">

          <div class="ui secondary inverted pointing menu">
            <header>

              <img src="{{ url_for('static', filename='img/long_gold.png') }}" style="width:150px;height:45px;display: block;margin: 0 auto;">

            </header>
            <a class="item" href="{{ url_for('home') }}">
              Home
            </a>
            <a class="item" href="{{ url_for('my_movies') }}">
              My Movies
            </a>
            <a class="item" href="{{ url_for('leagues') }}">
              Leagues
            </a>
            <div class="right menu">
              <a class="item" href="{{ url_for('logout') }}">
                Logout
              </a>
            </div>
          </div>
        </div>

            {% block content %}
            {% endblock %}
          </div>
          <div class="two wide column"></div>

        </div>



  </body>