{% include "layout.html" %}

  <body>
      <!-- RIGHT MENU -->
        <div class="ui inverted overlay labeled icon right inline vertical sidebar menu ">
        <a class="item" href="{{ url_for('home') }}">
            <i class="home icon"></i>
            Home
        </a>
        <a class="item" href="{{ url_for('my_movies') }}">
            <i class="film icon"></i>
            My Movies
        </a>
        <a class="item" href="{{ url_for('leagues') }}">
            <i class="users icon"></i>
            Leagues
        </a>
        <a class="item" href="{{ url_for('logout') }}">
            <i class="sign out alternate icon"></i>
            Logout
        </a>
        </div>
    <div class="pusher">
          <div class="ui top inverted pointing menu">
            <header>
                <a class="item" href="{{ url_for('home') }}">
                  <img src="{{ url_for('static', filename='img/long_gold.png') }}" style="width:150px;height:45px;display: block;margin: 0 auto;">
                </a>
            </header>
            <div class="right menu">
              <a class="item" id="right-sidebar-toggle">
                <i class="sidebar icon"></i>
                Menu
              </a>
            </div>
        </div>
          <div class="ui raised very padded segment">
            {% block content %}
            {% endblock %}
          </div>
          </div>

<script>
    $(function() {
$('.ui.right.sidebar').sidebar({
 dimPage: true,
 transition: 'push',
 exclusive: false,
 closable: true
 });

 $('.ui.right.sidebar')
 .sidebar('attach events', '#right-sidebar-toggle');})

</script>

  </body>